<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Duotone PHP</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script type="text/javascript" src='js/script.js'></script>
</head>
<body>
	<header>Duotone PHP</header>
	<div class='list'>
		{% for scheme in schemes %}
			<article class='scheme'>
				<div class='title'>{{ scheme.scheme }}</div>
				<div class='entries'>
					{% for k,v in scheme %}
						{% if k | slice(0,4) == "base" %}
							<div class='entry {{ k }}' style='background-color: #{{ v }};'>
								<span class='color'>{{ v }}</span>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</article>
		{% endfor %}
	</div>
</body>
</html>